DATAMIND_DOCKER_PLATFORM=linux/amd64
DATAMIND_BIND_ADDRESS=127.0.0.1
DATAMIND_PORT=3001
DATAMIND_CLOUD_API_BASE=https://dm.iter-self.top/v1
DATAMIND_CLOUD_API_KEY=
DAAS_MCP_MASTER_KEY=
DAAS_MCP_SETUP_BASE_URL=http://127.0.0.1:3001
